@font-face {
  font-family: FF Bau Regular;
  src: url("../assets/fonts/bau-regular_bigfontsite.com.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Freight Pro;
  src: url("../assets/fonts/Freight\ Disp\ Bold.otf");
  font-weight: 100;
}
