* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-imageurl-container {
  margin-bottom: 4rem;
}

.product-imageurl {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.product-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-btn {
  border: none;
  background: black;
  color: white;
  padding: 1rem 5rem;
  cursor: pointer;
}
