.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 15px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 15px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h5 {
    font-size: 13px;
  }

  span {
    font-size: 10px;
    margin-bottom: 3px;
  }

  p {
    font-size: 11px;
  }
}

.imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 0 1rem;
  height: 35px;
  width: 80px;

  button {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  & button:first-child {
    margin-right: 1rem;
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  p {
    font-size: 15px;
    margin-right: 5rem;
  }

  img {
    height: 40px;
  }
}

.subtotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 14px;
}

.headerText {
  text-align: center;
  font-size: 10px !important;
}

.cartSection {
  position: relative;
}

.cartCloseBtn {
  position: absolute;
  left: 1rem;
}

.emptyText {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.checkoutBtn,
.productbtn {
  border: none;
  background: rgb(75, 85, 72);
  color: rgb(252, 252, 249);
  cursor: pointer;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  display: block;
}

.checkoutBtn {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
}

.productbtn {
  font-weight: 600;
  font-size: 14px;
  margin: 0 auto;
  padding: 1rem 5rem;

  &:hover {
    background-color: #000;
  }

  @media screen and(max-width: 768px) {
    font-size: 12px;
  }
  @media screen and(max-width: 375px) {
    font-size: 10px;
  }
}
