@import "./base";
@import "./variables";
@import "./fonts";

.currencySelectContainer {
  padding: 2rem;
  background-color: #f5f5f4;
  display: flex;
  justify-content: flex-start;
}

.currencySelect {
  padding: 10px 0 10px 10px;
  font-size: 12px;
}

.productsCtaContainer {
  background: #f5f5f4;
  padding: 1rem 0 6rem 5rem;

  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.chakra-slide {
  background-color: #f5f5f4 !important;
}

@media only screen and (max-width: 767px) {
  .productsCtaContainer {
    padding-left: 1rem;
  }
}
